html {
    color: white;
    background-image: url('images/rock-guitar.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  h3 {
    border-style: dotted;
    border-color: #bd001c;
    border-width: 2px ;
    margin-right: 1800px;
  }

  h1 {
    font-family: "Copperplate", fantasy;
  }

  h4 {
    text-decoration-line: underline;
    text-decoration-color: #5700c2;
    text-size-adjust: 200%;
  }